name: Release Please

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          command: github-release
          config-file: .release-please-config.json
          manifest-file: .release-please-manifest.json
          skip-github-pull-request: true
